/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/lato-v22-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v22-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/Georgia.woff') format('woff'), 
       url('../fonts/Georgia.ttf') format('ttf'); 
}
@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/Georgia-Bold.woff') format('woff'), 
       url('../fonts/Georgia-Bold.ttf') format('ttf'); 
}
a{
	text-decoration: none;
}
.header{
	margin-top: 30px;
	margin-bottom: 31px;
	padding: 0 140px;
}
.navbar{
	padding-top: 0;
	padding-bottom:0;
}
.form-input{
	border:none;
	text-align: right;
}
.button{
	background-color: #198754;
	color:#fff;
}
.header_nav a{
	margin-right: 72px;
}
.header_brand{
	width: 80px;
	margin-right:72px;
}
.section_cover{

}
.cover{
	height: 600px;
	background-image: url("../imags/bg-min.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.cover{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.card1{
	width: 42.4%;
}
.card-title{
	max-width: 440px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 700;
	font-size: 47px;
	line-height: 74px;
	color: #01996D;
}
.card-text{
	max-width: 345px;
}
.card{
	background-color: transparent;
	border:none;
}
.btn-success{
	background-color: #01996D;
}

/*section_cover end*/
/*section_top start*/
.section_top{
	margin-top: 100px;
	margin-bottom: 51px;
}
.top{
	max-width: 584px;
}
.card-top{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 157%;
	color: #424242;
}
.title{
	line-height: 157%;
	font-size: 34px;
}
.text{
	max-width:100%;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	color: #424242;
}
.pers{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 100px;
	line-height: 150%;
	color: rgba(1, 153, 109, 0.2);
	position: relative;
}
.span{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 150%;
	text-align: center;
	color: #000000;
	position: absolute;
	top:55%;
	left: 19%;
}
.write{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
/*section_top end*/

/*section_center start*/
.section_center{
	background-image: url("../imags/bg1-min.jpg");
	position: relative;
	z-index: 1;
}
.start1{
	width: 50%;
	height: 400px;
	background-image: url("../imags/rect1-min.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 16.3326px;
	position: relative;
	z-index: 1;
}
.start1{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.start1::before{
	content: "";
	background: rgba(0, 0, 0, 0.2);
	border-radius: 16.3326px;
	position: absolute;
	width: 98.7%;
	height: 100%;
	top:0;
	left: 10px;
	z-index: -1;
}
.card2{
	margin-top: 229px;
	margin-bottom: 176px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; 
	z-index: 1;
}
.lets{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 157%;
	color: #FFFFFF;
}
.how{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 157%;
	color: #FFFFFF;
}
.started{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	background: #01996D;
	border: 1px solid #01996D;
	border-radius: 4px;
	margin-bottom: 20px;
}
/*section_center end*/
/*section_bottom start*/
.section_bottom{
	margin-top: 120px;
	margin-bottom: 242px;
}
.top1{
	margin-left: 100px;
	position: relative;
}
.card-for{
	width: 29%;
	background-color:#fff;
	position: absolute;
	top:57%;
	right: 60%;
	border-radius: 4px;
	-webkit-filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
	        filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
	text-align: center;
	margin-bottom: 22px;
}
.for h5{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 600;
	font-size: 14.49px;
	line-height: 157%;
	color: #000000;
	border-bottom: 0.745942px solid #000000;
	margin-top: 22px;
	margin-bottom: 13px;
}
.for h6{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 11.9351px;
	line-height: 157%;
	color: #000000;
	margin-bottom: 20px;
}
.custom{
	margin-bottom: 15px;
}
.custom h4{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 700;
	font-size: 15.9292px;
}
.custom ul li{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 10.6195px;
}
.our{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 157%;
	color: #424242;
}
.tell{
	max-width: 584px;
	font-size: 35px;
}
.ways{
	max-width: 425px;
}
/*section_bottom end*/
/*footer start*/
.footer{
	background-color: #245852;
}
.card-footer{
	background-color: transparent;
	border-top: none;
}
.alivio{
	margin-top: 95px;
	margin-bottom: 60px;
	font-family: 'Avenir';
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 55px;
	color: #FFFFFF;
}
.footer_li{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 60px;
	color: #FFFFFF;
}
.footer ul li{
	list-style: none;
}
.footer_li li a{
	color:#fff;
}
/*footer end*/

@media screen and (max-width: 1120px){
	.header{
		padding: 0px 0px;
	}
	.start1::before{
		width: 100%;
		left: 0;
	}
}
@media screen and (max-width: 991px){
	.header{
		padding: 0 140px;
	}
	.d-flex{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.form-input{
		text-align: left;
	}
	.d-flex .btn{
		max-width: 20%;
	}
	.aware{
		font-size: 38px;
		line-height: 50px;
	}
	.cover{
		height: 500px;
	}
	.card2{
		margin-top: 120px;
		margin-bottom: 120px;
	}
	.top1{
		margin-left: 0;
	}
	.card-for{
		top:61%;
		right: 69%;
	}
	.section_bottom{
		margin-top: 90px;
		margin-bottom: 100px;
	}
	.alivio{
		margin-top: 50px;
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 768px){
	.header{
		padding: 0 30px;
	}
	.card1{
		width: 50%;
	}
	.aware{
		font-size: 30px;
		line-height: 45px;
	}
	.start1{
		width: 100%;
		height: 250px;
	}
	.card-text{
		max-width: 100%;
	}
	.card-for{
		top:30%;
		right: 67%
	}
	.d-flex .btn{
		max-width: 35%;
	}
	.lets{
		font-size: 25px;
	}
	.card2 {
	    margin-top: 50px;
	    margin-bottom: 50px;
	}
	.tell{
		font-size: 25px;
		line-height: 50px;
	}
	.alivio{
		margin-bottom: 10px;
		margin-top: 40px;
	}

}
@media screen and (max-width: 498px){
	.card-for{
		display: none;
	}
	.card1{
		width: 100%;
	}
}


